<%- include('../partials/header.ejs') %>

<title>Sweat Rivals | Groups</title>      

<main class="container text-white">
    <h2>Create a New Group</h2>
</main>

<div class="container text-white">
    <form action="/groups/create" method="POST">
        <label for="groupName">Group name:</label>
        <input type="text" id="groupName" name="groupName" required>
        <br>
        <label for="groupDescription">Group description:</label>
        <br>
        <textarea type="text" id="groupDescription" name="groupDescription"></textarea>
        <br>
        <label for="groupMembers">Group Members:</label>
        <br>
        <% user.friendsList.forEach(function(friend) { %>
            <input type="checkbox" id="<%= friend._id %>" name="groupMembers" value="<%= friend._id %>">
            <label for="<%= friend._id %>"><%= friend.targetName %></label>
            <br>
        <% }); %>
        <input type="submit" value="Create Group">
      </form>
</div>


<%- include('../partials/footer.ejs') %> 
