<%- include('../partials/header.ejs') %>

<title>Sweat Rivals | Group View</title>      

<main class="container text-white">

    <div class="w-100 mx-auto text-center">
        <h2>Sweat Rivals Group Page</h2>
    </div>

    <div class="container w-50 mx-auto mt-5">
        <img src="/logo.png" alt="" />
              <p><strong>
                <%= group.groupName.toUpperCase() %>
              </strong></p>
                <p><%= group.groupDescription %></p>
                <p>Members:</p>
                <ul>
                    <% groupMembers.forEach(function(member) { %>
                        <li><%= member.username %>: <%= member.lifetimePoints %></li>
                    <% }); %>
                </ul>

                <% if (user.id == group.groupAdmin) { %>
                    <a href="/groups/<%= group._id %>/edit" class="btn btn-primary">Edit Group</a>
                    <form action="/groups/<%= group._id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button class="btn btn-danger">Delete Group</button>
                    </form>
                <% } %>
    </div>

</main>

<%- include('../partials/footer.ejs') %>
