<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS and JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</head>

<body class="bg-dark">

    <!-- Navbar -->
    <!-- Uncomment following EJS by removing the '#' when User Authentication is implemented: -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
        <div>
            <a class="navbar-brand mx-3">
                <img src="/logo.png" alt="SweatRivals Logo" width="65">
            </a>
        </div>

        <div class="navbar-collapse collapse justify-content-beginning">
            <ul class="navbar-nav">

                <% if (!user) { %>
                    <li class="nav-item mx-2">
                        <a class="nav-link <%= activePage === 'home' ? 'active fw-bold' : '' %>" href="/">Home</a>
                    </li>
                <% } else { %>
                    <li class="nav-item mx-2">
                        <a class="nav-link <%= activePage === 'home' ? 'active fw-bold' : '' %>" href="/">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link <%= activePage === 'friends' ? 'active fw-bold' : '' %>" href="/friends">Friends</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link <%= activePage === 'challenges' ? 'active fw-bold' : '' %>"
                                href="/challenges">Challenges</a>
                    </li>
                    <li class="nav-item mx-2">
                            <a class="nav-link <%= activePage === 'groups' ? 'active fw-bold' : '' %>" href="/groups">Groups</a>
                    </li>
                <% } %>
            </ul>
        </div>


        <div class="navbar-collapse collapse justify-content-end">
            <ul class="navbar-nav">
                <!-- Uncomment following EJS by removing the '#' when User Authentication is implemented: -->
                <% if (!user) { %>
                    <li class="nav-item mx-2">
                        <a class="nav-link <%= activePage === 'signup' ? 'active fw-bold' : '' %>" href="/user/signup">Signup</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link <%= activePage === 'login' ? 'active fw-bold' : '' %>" href="/user/login">Login</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item mx-2">
                            <a class="nav-link <%= activePage === 'profile' ? 'active fw-bold' : '' %>"
                                href="/user/profile">My Profile</a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </nav>
    <% if (errorMessages.length > 0) { %>
        <% errorMessages.forEach(message => { %>
            <div class="w-75 mx-auto mt-5 error-div">
                <div class="alert alert-danger text-center fw-bold">
                    <%= message %>
                    <button type="button" class="btn-close btn-close-black error-close" aria-label="Close"></button>
                </div>
            </div>
            <% }); %>
    <% } %>
    
    <% if (successMessages.length > 0) { %> 
        <% successMessages.forEach(message => { %>
            <div class="w-75 mx-auto success-div">
                <div class="alert alert-success text-center fw-bold">
                    <%= message %>
                    <button type="button" class="btn-close btn-close-black success-close" aria-label="Close"></button>
                </div>
            </div>
        <% }); %>
    <% } %>

    <script src="/javascript/closer.js"></script>

