<%- include('../partials/header.ejs') %>

<title>Sweat Rivals | Friends</title>      

<main class="container text-white">
    <div class="w-100 mx-auto text-center">
        <h2>Sweat Rivals Friends</h2>
    </div>
    
    <a href="/friends/add">
        <button class="btn btn-primary my-2">Add Friend</button>
    </a>

    <% if (user.friendsList.length == 0) {%> 
        <p>You have no friends!</p>
    <% } else { %>
        <div class="container my-5" id="search-results">
            <h2 class="text-center pb-2">Friends</h2>
            <table class="table table-dark">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Username</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% user.friendsList.map(friend => { %> 
                        <tr class="text-center fs-4">
                            <th scope="row"><%= friend.origin.equals(user._id) ? friend.targetName : friend.originName %></th>
                            <td><%= friend.status %></td>
                            <td></td>
                            <% if (friend.status === 'Friends') { %>
                                <td>
                                    <a 
                                        href="/friends/view/<%= friend.origin.equals(user._id) ? friend.target : friend.origin %>"
                                        class="btn btn-primary">
                                        View Profile 
                                    </a>
                                </td>
                            <% } else if (friend.status === 'Rejected') { %>
                                <% if (friend.origin.equals(user._id)) { %>
                                    <td>
                                        <p class="text-red">You've Been Rejected ;(</p>
                                    </td>
                                <% } else { %>
                                   <td>
                                        <p class="text-red">You Rejected Them ;)</p>
                                    </td> 
                                <% } %>
                            <% } else if (friend.origin.equals(user._id)) { %>
                                <td>
                                    <form>
                                        <button 
                                            formmethod="POST" 
                                            formaction="/friends/cancel/<%= friend._id %>/<%= friend.origin.equals(user._id) ? friend.target : friend.origin %>" 
                                            class="btn btn-danger" 
                                            type="submit">
                                                Cancel 
                                            </button>
                                                                            
                                    </form>
                                </td>
                            <% } else { %>
                                <td>
                                    <form>
                                        <button 
                                            formmethod="POST" 
                                            formaction="/friends/accept/<%= friend._id %>/<%= friend.origin.equals(user._id) ? friend.target : friend.origin %>" 
                                            class="btn btn-success" 
                                            type="submit">
                                                Accept
                                            </button>
                                                                            
                                    </form>
                                    <form>
                                        <button 
                                            formmethod="POST" 
                                            formaction="/friends/decline/<%= friend._id %>/<%= friend.origin.equals(user._id) ? friend.target : friend.origin %>" 
                                            class="btn btn-danger" 
                                            type="submit">
                                                Decline 
                                            </button>
                                                                            
                                    </form>
                                </td>
                            <% } %>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    <% } %>
</main>

<%- include('../partials/footer.ejs') %>
