<%- include('../partials/header.ejs') %>
<title>Sweat Rivals | Friends</title>      

<main class="container text-white">
    <div class="w-100 mx-auto text-center pb-5">
        <h1><%= friend.username %>'s Profile</h1>
    </div>

    <div class="w-50 mx-auto">
        <a href="/friends">
            <button class="btn btn-primary">< Back</button>
        </a>
        <h4 class="my-4">Email: <%= friend.email %></h4>
        <h4 class="mb-4">Lifetime Points: <%= friend.lifetimePoints %></h4>

        <h4> Challenges Completed: </h4>
        <ul>
            <% challenges.forEach(challenge => { %>
                <li><%= challenge.name %></li>
            <% }) %>
        </ul>
        <!-- Didn't have time to implement remove friend function --> 
        <!-- <button class="btn btn-danger my-2" type="submit">Remove Friend</button> -->
    </div>
</main>

<%- include('../partials/footer.ejs') %> 
