<%- include('../partials/header.ejs') %>

<title>Sweat Rivals | Friends</title>      

<main class="container text-white">
    <!--TODO: Figure out what to display here-->
    <h2><%= friend.username %></h2>
    <h2><%= friend.email %></h2>
    <h2><%= friend.age %> Years Old</h2>
 
</main>

<%- include('../partials/footer.ejs') %> 
