<%- include('../partials/header.ejs') %>

<title>Sweat Rivals | My Profile</title>      

<main class="container text-white">
    <h2>Welcome, <%= user.firstName %>!</h2>
    <p>Username: <%= user.username %></p>
    <p>First Name: <%= user.firstName %></p>
    <p>Last Name: <%= user.lastName %></p>
    <p>Email: <%= user.email %></p>
    
    <h2>My Goals</h2>
    <%if(goals.length){%>
        <%goals.forEach(goal =>{%>
        <table class="">
            <tr>
                <td class="">
                    <a href = '/events/<%= goal.id%>'><p><%=goal.title%></p></a>
                </td>
                <td>
                    <form>
                        <button type = "submit" formmethod="POST" formaction="/user/<%= deleteGoal.id%>/?_method=DELETE" class = "">Delete</button>
                    </form>
                </td>
            </tr>
            
        </table>
        <%});
    } else {%>
        <p>You have not created any events</p>
    <%}%>

    <form action="/user/createGoal" method="POST">
        <label for="title">Goal:</label>
        <input type="text" id="title" name="title" placeholder="Goal" required>
        <input type="submit" value="Submit">
    </form>


    <a href="/user/form">
        <button class="btn btn-primary">Update Colories/Weight</button>
    </a>

    <a href="/user/logout">
        <button class="btn btn-primary">Logout</button>
    </a>
    <form>
        <button value="delete" formmethod="POST" formaction="/user/delete/<%= user.id%>/?_method=DELETE" type="submit" class="btn btn-danger">Delete Account</button>
    </form>
</main>

<%- include('../partials/footer.ejs') %> 
